.kogito-jobs-management__state-dropdown-list
  .pf-c-data-toolbar__item:first-child
  .pf-c-chip__text::first-letter {
  text-transform: uppercase;
}
.kogito-jobs-management__state-dropdown-list
  .pf-c-data-toolbar__item:first-child
  .pf-c-chip__text {
  text-transform: lowercase;
}

.kogito-jobs-management__state-dropdown-list .pf-c-check__label::first-letter {
  text-transform: uppercase;
}

.kogito-jobs-management__state-dropdown-list .pf-c-check__label {
  text-transform: lowercase;
}

.kogito-jobs-management__table .pf-c-table__sort .pf-c-table__button {
  text-align: center;
  display: inline-block;
  margin-left: 0;
}

.pf-c-chip-group .pf-c-chip__text {
  font-weight: 400 !important;
}

.kogito-jobs-management__table td:not(:first-of-type) {
  min-width: 10em;
}

.kogito-jobs-management__table .pf-c-table__action {
  text-align: right;
}

.kogito-jobs-management__emptyState {
  margin-top: 100px;
}
