/* This adds the line extending the length of the timeline, while the items are pushed left to overlap it halfway. The first child is pushed up to hide the top of the dashed line. The status icon must be given a background so that the line doesn't show through the icon. */
.kogito-management-console--timeline {
    border-left: var(--pf-global--BorderWidth--md) dashed var(--pf-global--BorderColor--300);
    margin-left: var(--pf-global--spacer--sm);
    margin-top: var(--pf-global--spacer--sm);
  }
  .kogito-management-console--timeline-item {
    background-color: transparent;
    margin-left: calc(-1 * var(--pf-global--spacer--sm));
  }
  .kogito-management-console--timeline-item:first-child {
    margin-top: calc(-1 * var(--pf-global--spacer--sm));
  }
  .kogito-management-console--timeline-status {
    background-color: var(--pf-global--BackgroundColor--100);
  }