.kogito-components-common__load-more {
  margin-bottom: var(--pf-global--spacer--lg) !important;
  text-align: center;
}

.pf-c-spinner .pf-m-md .kogito-components-common__load-more-spinner {
  overflow: hidden;
  margin-left: 5px;
}

.kogito-components-common__form-footer-padding-top {
  padding-top: 20px;
}
