.cf-table {
  &__result-head {
    overflow: visible !important;
    padding-right: 50px !important;
    span {
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__slider {
      font-size: 1.5rem;
      position: absolute;
      top: 13px;
    }
    &--first,
    &--last {
      @extend .cf-table__result-head;
    }
    &--first {
      .cf-table__result-head__slider {
        left: -20px;
      }
    }
    &--last {
      .cf-table__result-head__slider {
        right: 5px;
      }
    }
  }
  &__result-value {
    &--changed {
      @extend .cf-table__result-value;
      background-color: var(--pf-global--palette--blue-50);
      clip-path: inset(5px 5px);
    }
  }
}
