#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

name: Kogito Downstream

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - 'LICENSE'
      - '**/.gitignore'
      - '**.md'
      - '**.adoc'
      - '*.txt'
      - 'docsimg/**'
      - '.ci/jenkins/**'

jobs:
  kogito-downstream-build:
    concurrency:
      group: pr-${{ matrix.job_name }}_${{ matrix.os }}_${{ matrix.java-version }}_${{ matrix.maven-version }}_${{ github.head_ref }}
      cancel-in-progress: true
    timeout-minutes: 180
    strategy:
      matrix:
        job_name: [ kogito-quarkus-examples, kogito-springboot-examples, serverless-workflow-examples ]
        os: [ubuntu-latest]
        java-version: [11]
        maven-version: ['3.8.7']
        include:
          - job_name: kogito-quarkus-examples
            repository: kogito-examples
            env_KOGITO_EXAMPLES_SUBFOLDER_POM: kogito-quarkus-examples/
          - job_name: kogito-springboot-examples
            repository: kogito-examples
            env_KOGITO_EXAMPLES_SUBFOLDER_POM: kogito-springboot-examples/
          - job_name: serverless-workflow-examples
            repository: kogito-examples
            env_KOGITO_EXAMPLES_SUBFOLDER_POM: serverless-workflow-examples/
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.job_name }} (${{ matrix.os }} / Java-${{ matrix.java-version }} / Maven-${{ matrix.maven-version }})
    steps:
      - name: Clean Disk Space
        uses: kiegroup/kie-ci/.ci/actions/ubuntu-disk-space@main
        if: ${{ matrix.os == 'ubuntu-latest' }}
      - name: Support long paths
        if: ${{ matrix.os == 'windows-latest' }}
        uses: kiegroup/kie-ci/.ci/actions/long-paths@main
      - name: Java and Maven Setup
        uses: kiegroup/kie-ci/.ci/actions/maven@main
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: ${{ matrix.maven-version }}
          cache-key-prefix: ${{ runner.os }}-${{ matrix.java-version }}-maven${{ matrix.maven-version }}
      - name: Build Chain
        uses: kiegroup/kie-ci/.ci/actions/build-chain@main
        with:
          definition-file: https://raw.githubusercontent.com/${GROUP:kiegroup}/kogito-pipelines/${BRANCH:main}/.ci/pull-request-config.yaml
          annotations-prefix: ${{ runner.os }}-${{ matrix.java-version }}/${{ matrix.maven-version }}
          starting-project: kiegroup/${{ matrix.repository }}
          github-token: "${{ secrets.GITHUB_TOKEN }}"
        env: 
          KOGITO_EXAMPLES_SUBFOLDER_POM: ${{ matrix.env_KOGITO_EXAMPLES_SUBFOLDER_POM }}
      - name: Surefire Report
        uses: kiegroup/kie-ci/.ci/actions/surefire-report@main
        if: ${{ always() }}
        with:
          report_paths: '**/*-reports/TEST-*.xml'